@import '~node_modules/modern-normalize/modern-normalize.css';
@import './common';
@import './example';


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 50px;
  background-color: #459c2b;
  border-bottom: #e5f31a;
  border-width: 2;
  border-bottom-style: solid;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-form {
 position: relative;
}

.input-container {
  position: relative;
}

.search-input {
  position: relative;
  width: 10px;
  height: 30px;
  padding-left: 20px;
  padding-right: 50px;
  background: inherit;
  border-radius: 25px;
  border: 1px solid #ffffff;
  text-align: center;
  color: orange;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   width 1000ms cubic-bezier(0.4, 0, 0.2, 1),
   box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

   .search-form:hover > &,
   .search-form:focus > & {
    width: 250px;
   }

&:hover,
&:focus {
  border-color:#e5f31a;
  width: 250px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
}

  &:focus-visible {
    outline:#e5f31a;
  } 
}

.search-input::placeholder {
  color: white;
  opacity: 1;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


  &:hover,
  &:focus {
    background-color: #e5f31a;
    .search-form{
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  
  &:focus-visible {
    outline: #e5f31a;
    background-color: #e5f31a;
  }
}

.search-icon {
  position: absolute;
  top: 3px;
  right: 6px;
  width: 25px;
  height: 25px;
  fill: white;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fiil 250ms cubic-bezier(0.4, 0, 0.2, 1),
  width 450ms cubic-bezier(0.4, 0, 0.2, 1);

  

  .search-button:hover &, 
  .search-button:focus & {
    fill: orange;
    scale: 1.2;

  }
}

.load-more {
   margin: 0 auto;
  margin-top: 0px;
  display: block;
  border: none;
  background-color: #459c2b;
  color: white;
  cursor: pointer;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 20px;
  font-family:inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;

  &:hover {
    background-color:#e5f31a ;
    color: orange;
  }

&:disabled {
  background-color: #c1c1c1;
  cursor: not-allowed;
}

&.hidden {
  display: none;
}

}

.gallery {
  min-width: 1200px;
  padding: 80px 15px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.photo-card {
  text-align: center;
  width: 390px;
  border-radius: 8px;
  background-color: #cad0d659;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    transform:scale(1.1);
}
}

.card-image {
  width:100%;
  height: 240px;
  max-width: 390px;
  object-fit: cover;
  border-radius: 8px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.info-item{
  font-size: small;
}